includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 5
	parallel:
		maximumNumberOfProcesses: 2
	paths:
		- wp-content/plugins/hotel-booking-core
		- wp-content/themes/hotel-booking
	excludePaths:
		- wp-content/themes/hotel-booking/assets/images/generate-placeholders.php
		- wp-content/plugins/hotel-booking-core/node_modules (?)
		- wp-content/plugins/hotel-booking-core/build (?)
		- wp-content/themes/hotel-booking/node_modules (?)
		- wp-content/themes/hotel-booking/build (?)
	bootstrapFiles:
		- phpstan-bootstrap.php
